@use 'reset';
@use 'variaveis';
@use 'hero';
@use 'header';
@use 'sinopse';
@use 'castingactor';
@use 'direction';
@use 'images';
@use 'footer';
@use 'navmobile';

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;

    @media (max-width:768px) {
        width: 80%;
    }
}


body {
    background-color: variaveis.$bgColor;
}